@font-face {
font-family: Quicksand-Bold;
src: url("../../assets/fonts/Quicksand/Quicksand-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Quicksand-Regular;
    src: url("../../assets/fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}